{% load bootstrap %}
 <!-- Modal -->
<div class="modal fade" id="habitCreateModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add a habit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      <!-- form for adding a habit -->
      <form action="{% url 'webapp:habits:create' %}" method="post">
        {% csrf_token %}
        {{ habit_create_form|bootstrap }}
        <a href="{% url 'webapp:habits:list' %}">Cancel</a>
        <input class="btn btn-primary float-right" type="submit" value="Save">
      </form>

      </div>
    </div>
  </div>
</div>
