{% extends "base.html" %}
{% load static i18n %}
{% block title %}Habits{% endblock %}


{% block content %}

<div class="container top-buffer">
  <h2>Habits</h2>

  {% include 'habits/_calendar.html' %}

  <div class="row" style="margin-top: 20px">
    <table class="table">
      <thead class="bg-dark text-light">
        <tr>
          <th scope="col">Habit</th>
          <th scope="col">Current Streak</th>
          <th scope="col">Last Entry</th>
          <th scope="col">Weekly Average</th>
          <th scope="col">Add Entry</th>
        </tr>
      </thead>
      <tbody>
        {% for habit in habits %}
          <tr>
            <th scope="row">{{ habit.name }}</td>
            <td>{{ habit.currentStreak }} {{habit.schedule}}</td>
            <td>{{ habit.lastLogEntry }}</td>
            <td>{{ habit.weeklyAverage }}</td>
            <td>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#habitLogEntryModal{{ habit.id }}">
                +  
              </button>
              {% include "habits/_habit_log_entry_modal.html" %}
            </td>
          </tr>
        {% endfor %}
        <tr>
          <td>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#habitCreateModal">
              Add a habit
            </button>
            {% include "habits/_habit_create_modal.html" %}
          </td>
        </tr>
      </tbody>

    </table>
  </div>
</div>
{% endblock content %}
