{% extends "base.html" %}
{% load static i18n %}
{% block title %}Habits{% endblock %}

{% block content %}
<div class="container top-buffer">
  <h2>Add a habit</h2>

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form action="{% url 'webapp:habits:create' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <input type="text" class="form-control" name="name" required placeholder="Add habit name">
        </div>
        <div class="form-group">
          <label for="schedule">Schedule</label>
          <select id="schedule" name="schedule"class="form-control" required>
            <option selected label="Daily">days</option>
            <option label="Weekly">weeks</option>
            <option label="Monthly">months</option>
          </select>
        </div>
        <div class="form-group">
          <textarea class="form-control" name="description" placeholder="Add description"></textarea>
        </div>
        <a href="{% url 'webapp:habits:list' %}">Cancel</a>
        <input class="btn btn-primary float-right" type="submit" value="Save">
      </form>
    </div>
  </div>
</div>
{% endblock content %}
