{% extends "base.html" %}
{% load static i18n %}
{% block title %}Habits{% endblock %}


{% block content %}

<div class="container top-buffer">
  <h1>Habits</h1>
  <hr />

  <h4 style="text-align: center;">{{ today|date }}</h4>

  {% include 'habits/calendar/_calendar.html' %}

  <div class="row" style="margin-top: 20px">
    <table class="table">
      <thead class="bg-dark text-light">
        <tr>
          <th scope="col">Habit</th>
          <th scope="col">Current Streak</th>
          <th scope="col">Last Entry</th>
          <th scope="col">Weekly Average</th>
          <th scope="col">Add Entry</th>
        </tr>
      </thead>
      <tbody>
        {% for habit in habits %}
          <tr>
            <th scope="row">
              <span class=" event"
                    style="background-color: {{ habit.color }};">
              </span>
              {{ habit.name }}</td>
            <td>{{ habit.current_streak }} {{habit.schedule}}</td>
            <td>{{ habit.last_log_entry|date }}</td>
            <td>{{ habit.weekly_average }}</td>
            <td style="text-align: center;">
              <button type="button" class="pull-right btn btn-primary" data-toggle="modal" data-target="#habitLogEntryModal{{ habit.id }}">
                +  
              </button>
            </td>
          </tr>
        {% include "habits/_habit_log_entry_modal.html" %}
        {% endfor %}
        <tr>
          <td>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#habitCreateModal">
              Add a habit
            </button>
          </td>
        </tr>
      </tbody>

    </table>
  </div>
</div>

{% include "habits/_habit_create_modal.html" %}

{% endblock content %}
